body {
    background-color: #161B21;
}

/* add animation to navbar */
.navbar {
    transition: all 0.4s ease-in-out;
}

.navbar {
    background-color: #161B21 !important;
}

.navbar-dark .navbar-nav .nav-link,
a.nav-link {
    color: #fff !important;
}

#carousal-text {
    color: black;
}

.navbar-brand,
#nav-item-active,
h4.cont-title,
h4.text-center,
h4.cont-title>span {
    color: #04ACB4 !important;
}

.navbar-toggler-icon {
    color: #04ACB4 !important;
    background-color: #04ACB4 !important;
}

li.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #04ACB4;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
}

.btn-group button {
    background-color: #161B21;
    border-color: #161B21;
    color: #fff;
    border-color: #04ACB4;
}

.btn-group button:hover {
    border-color: #04ACB4;
    color: #fff;
    background-color: #04ACB4;
}

.caption-text {
    margin: 0rem 1.5rem;
}

.carousel-indicators {
    position: relative;
    top: 2em;
}

.carousel-caption {
    z-index: 10;
    bottom: auto;
}

.carousel-caption .title {
    color: #04ACB4;
}

.carousel-item {
    height: 30rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* width: 100%;
    height: 100%; */
    object-fit: contain;
    height: 30rem;
}
#slide-img-2{
    height: 23rem !important;
    top: 5rem !important;
    left: 65rem !important;
}
#about-container {
    color: white;
    margin: 15px 9rem;
}

@media (max-width: 480px) {
    /* {
        height: 20rem;
    } */
    #carousal-text {
        color: black;
        
    }
    #about-container {
        margin: 15px 2rem;
        display: block !important;
    }

    .carousel-item {
        height: 12rem;
    }

    .carousel-item img {
        max-width: 90%;
        height: 12rem;
        object-fit: contain;
    }

    .carousel-indicators {
        top: 0rem;
    }

    .container {
        width: 80% !important;
        height: 12rem !important;
    }

    .col-md-4 {
        margin-bottom: 1rem;
    }

    .card {
        border: none;
    }

    .img-fluid {
        display: block;
        margin: 0 43px;
    }

    .cont-title {
        text-align: center;
        margin-top: 2rem;
    }
    #slide-img-2{
        height: 5rem !important;
        top: 55px !important;
        left: 17rem !important;
    }
    /* .card-img-top {
        height: 20rem;
    } */
    .card-img-top {
        height: 13rem !important;
        width: 100%   !important;
        object-fit: contain !important;
        padding-top: 7px !important;
    }
}


.card {
    border-right: 3px;
    transition: all 0.3s ease-in-out;
}

.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: contain;
}

.card:hover {
    /* transform: scale(1.05); */
    box-shadow: 0px 0px 10px 0px rgba(4, 172, 180, 0.75);
}

/* .card-img-top {
    height: 80px;
} */

/* .border-right,
.border-left {
    border-color: rgb(4, 172, 180) !important;
    border-width: 3px !important;
} */